@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./components/app_color.scss";

#header{
    background-color: $header-bg-white;
    height: 15vh;
    padding: 0 calc(35% / 2);
};

#slider{
    background-color: $slider-bg-black;
    height: 15vh;
    padding: 0 calc(35% / 2);
    display: flex;
    align-items: center;
};

#main_card{
    background-color: $main-card-bg-blue;
    height: 20vh;
    padding: 0 calc(35% / 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}