@use "../node_modules/bootstrap/scss/bootstrap.scss";

@use "./app_color.scss" as *;

#header{
    background-color: $header-bg-white;
    height: 15vh;
    padding: 0 calc(35% / 2);
};

#slider{
    background-color: $slider-bg-black;
};

#main_card{
    background-color: $main-card-bg-blue;
    height: 17vh;
    padding: 0 calc(35% / 2);
};

#main_body{
    background-image: url(./assets/img/footer-bg.jpg);
    height: 40vh;
    padding: 0 calc(35% / 2);
}

#footer{
    background-color: $footer-bg-gray;
    height: 12vh;
    padding: 0 calc(35% / 2);
}

img{
    cursor: pointer;
}